.Item {
    border-radius: 10px;
    background-color: rgb(170, 255, 182);
    max-width: 100%;
    flex-wrap: wrap;
    display: grid;

    width: 250px;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 50px;
}

.btn {
    
    flex-wrap: wrap;
    max-width: 100%;

    text-align: center;
    border-radius: 20px;
    background-color: rgb(0, 173, 58);
    color: white;
    padding: 10px;
    text-decoration: none;
}

.Item p {
    text-align: center;

}

